.hero-container {
    background-color: #97a3df;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    /* Optional slight styling */
}